{% extends 'base_generic.html' %}

{% block content %}

    {% if author %}

        <h1>Author: {{author.first_name}} {{author.last_name}}</h1>


        <p><strong>First Name: </strong>{{author.first_name}}</p>
        <p><strong>Last Name: </strong>{{author.last_name}}</p>
        <p><strong>Birth: </strong>{{author.date_of_birth}}</p>
        {% if author.date_of_death %}
            <p><strong>Death: </strong>{{author.date_of_death}}</p>
        {% endif %}
        

        <div style="margin-top:2rem; margin-left:2rem;">
            {% if author.book_set.all %}

                <h4>Books</h4>

                <ul>

                {% for item in author.book_set.all %}
                
                    <li>

                        <a href="{% url 'book-detail' item.id %}">{{item}}</a>

                    </li>
                    
                
                {% endfor %}

            </ul>

            {% endif %}
            
        </div>

    {% endif %}

{% endblock %}